@import "./colors.scss";

$default-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Helvetica Neue", Arial, "Noto Sans", "sans-serif",
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$rubik-font-family: "Rubik", $default-font-family;
$font-family-base: $rubik-font-family !default;
$font-size-base: 0.75rem !default;

$font-icons: "DXIcons";
$dx-theme-marker: "dx.material.blue.light";

$font-size-9px: 0.563rem;
$font-size-10px: 0.625rem;
$font-size-12px: 0.75rem;
$font-size-13px: 0.8125rem;
$font-size-14px: 0.875rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;
$font-size-21px: 1.3125rem;
$font-size-22px: 1.375rem;
$font-size-24px: 1.5rem;

$display1-size: 0.625rem !default; //10px
$display2-size: 0.75rem !default; //12px
$display3-size: 0.8125rem !default; //13px
$display4-size: 0.875rem !default; //14px

$h6-font-size: 1rem !default; //16px
$h5-font-size: 1.125rem !default; //18px
$h4-font-size: 1.3125rem !default; //21px
$h3-font-size: 1.5rem !default; //24px
$h2-font-size: 1.875rem !default;
$h1-font-size: 2.25rem !default;

$side-panel-min-width: 60px;
$base-border-radius: 4px;

:root {
  /* ELEVATION vars */
  --elevation-1: 0px 0px 2px rgba(0, 0, 0, 0.5);
  --elevation-2: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  --elevation-3: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
  --elevation-4: 0px 0px 8px 6px rgba(0, 0, 0, 0.2);
  --elevation-5: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
  --elevation-6: 0px 0px 12px 10px rgba(0, 0, 0, 0.2);
  --elevation-7: 0px 0px 14px 12px rgba(0, 0, 0, 0.12);
  --elevation-8: 0px 0px 16px 14px rgba(0, 0, 0, 0.12);
  --elevation-9: 0px 0px 18px 16px rgba(0, 0, 0, 0.12);

  /* SPACING vars */
  --space-01: 4px;
  --space-02: 8px;
  --space-03: 12px;
  --space-04: 16px;
  --space-05: 20px;
  --space-06: 24px;
  --space-07: 28px;
  --space-08: 32px;
  --space-09: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-13: 52px;
  --space-14: 56px;
  --space-15: 60px;
  --space-16: 64px;
  --space-17: 68px;
  --space-18: 72px;

  /* GENERIC */
  --header-height: 50px;
  --bottombar-height: 80px;
}
.margin-1 {
  margin: var(--space-01);
}
.margin-2 {
  margin: var(--space-02);
}
.margin-3 {
  margin: var(--space-03);
}
.margin-4 {
  margin: var(--space-04);
}
.margin-5 {
  margin: var(--space-05);
}
.margin-6 {
  margin: var(--space-06);
}
.margin-7 {
  margin: var(--space-07);
}
.margin-8 {
  margin: var(--space-08);
}
.margin-9 {
  margin: var(--space-09);
}
.margin-10 {
  margin: var(--space-10);
}
.margin-11 {
  margin: var(--space-11);
}
.margin-12 {
  margin: var(--space-12);
}
.margin-13 {
  margin: var(--space-13);
}
.margin-14 {
  margin: var(--space-14);
}
.margin-15 {
  margin: var(--space-15);
}
.margin-16 {
  margin: var(--space-16);
}
.margin-17 {
  margin: var(--space-17);
}
.margin-18 {
  margin: var(--space-18);
}

.padding-1 {
  padding: var(--space-01);
}
.padding-2 {
  padding: var(--space-02);
}
.padding-3 {
  padding: var(--space-03);
}
.padding-4 {
  padding: var(--space-04);
}
.padding-5 {
  padding: var(--space-05);
}
.padding-6 {
  padding: var(--space-06);
}
.padding-7 {
  padding: var(--space-07);
}
.padding-8 {
  padding: var(--space-08);
}
.padding-9 {
  padding: var(--space-09);
}
.padding-10 {
  padding: var(--space-10);
}
.padding-11 {
  padding: var(--space-11);
}
.padding-12 {
  padding: var(--space-12);
}
.padding-13 {
  padding: var(--space-13);
}
.padding-14 {
  padding: var(--space-14);
}
.padding-15 {
  padding: var(--space-15);
}
.padding-16 {
  padding: var(--space-16);
}
.padding-17 {
  padding: var(--space-17);
}
.padding-18 {
  padding: var(--space-18);
}
