<div id="carouselCaptions" class="carousel slide theme" data-bs-ride="carousel">
  <h5>{{ headerTitle }}</h5>
  <div *ngIf="showIndicators" class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      *ngFor="let item of items; let i = index"
      [attr.data-bs-slide-to]="i"
      [ngClass]="{ active: i === 0 }"
      aria-current="true"
      [attr.aria-label]="'Slide-' + i + 1"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      class="carousel-item trend-detail"
      *ngFor="let item of items; let i = index"
      [ngClass]="{ active: i === 0 }"
    >
      <img
        (click)="navigate(item.id, item.entityType)"
        src="{{ item.imgUrl }}"
        class="d-block w-100"
        alt="item.title"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ item.title }}</h5>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
