<div class="container-fluid main-theme">
  <div class="row mt-2 mb-2">
    <app-carousel
      [headerTitle]="headerCarouselTitle"
      [items]="moviesTrendsCarousel"
    ></app-carousel>
  </div>
  <div class="row" style="text-align: center">
    <h4>{{ title }}</h4>
  </div>
  <div class="row mt-2 mb-2">
    <div
      *ngFor="let movie of moviesCards; let i = index"
      class="col-sm-6 col-md-4 col-lg-3 mt-2 animate__animated animate__bounce animate__fadeIn"
    >
      <app-card [item]="movie"></app-card>
    </div>
  </div>
</div>
